version: '3.9'

services:
  db:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_DB: arctic_team
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: egor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d arctic_team" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./api
    environment:
      POSTGRES_DB: arctic_team
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: egor
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

volumes:
  postgres_data:
